body {
    background-color: darkgreen;
}

.homePageBackground {
    background-color: rgba(104, 99, 99, 0.507);
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.list {
    background-color: rgba(194, 144, 144, 0.562);
    height: 600px;
}

.map {
    background-color: rgba(144, 170, 194, 0.562);
    height: 150px;
}