body {
    background-image: url("3rd-party/image/Luna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.homePageBackground {
    height: 450px;
    /* width: 700px; */
    display: flex;
    font-family: "Papyrus";
    text-align: center;
    color: rgb(228, 197, 62);
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 .2rem rgb(250, 206, 125),
    /* 0 0 .2rem #fff, */
    0 0 2rem rgb(236, 191, 108),
    0 0 0.8rem rgb(243, 184, 74),
    /* 0 0 2.8rem rgb(236, 191, 108), */
    inset 0 0 1.3rem rgb(236, 191, 108);
}

/* .backgroundVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
   
} */
video.cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    min-width: 100%; 
    min-height: 100%;

}


a {
    cursor: url('3rd-party/image/cursor.cur'), auto;
}

h1 {
    position: absolute;
    padding: 350px 0 20px 80px;
    text-shadow:    0 0 4px rgb(255, 102, 0),
                    0 0 10px rgb(255, 102, 0),
                    /* 0 0 18px rgb(255, 102, 0),
                    0 0 38px rgb(236, 191, 108),
                    0 0 73px rgb(236, 191, 108), */
                    0 0 80px rgb(236, 191, 108),
                    /* 0 0 94px rgb(236, 191, 108), */
                    0 0 140px rgb(236, 191, 108);
    font-size: 52px;
}

.list {
    padding: 5px;
} 
.nav-tabs {
    --bs-nav-tabs-border-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-active-border-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-hover-border-color:  rgb(228, 197, 62);
    --bs-nav-tabs-link-active-bg: none;
    font-family: "Papyrus";
    font-size: 20px;
}

.nav {
    --bs-nav-link-hover-color: rgb(228, 197, 62);
    --bs-nav-link-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-active-color: orange;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    cursor: default;
}

.table {
    --bs-table-color: rgb(228, 197, 62);
    --bs-table-hover-color: orange;
    --bs-table-border-color: rgb(228, 197, 62);
}

.card {
    font-family: "Papyrus";
    color: rgb(228, 197, 62);
    font-size: 20px;
    --bs-card-bg: #00000075;
    cursor: default;
    

}
.card-header {
    font-size: 30px;
    text-shadow:    0 0 4px rgb(255, 102, 0),
                    0 0 10px rgb(255, 102, 0),
                    /* 0 0 18px rgb(255, 102, 0),
                    0 0 38px rgb(236, 191, 108),
                    0 0 73px rgb(236, 191, 108), */
                    0 0 80px rgb(236, 191, 108),
                    0 0 94px rgb(236, 191, 108),
                    0 0 140px rgb(236, 191, 108);
}
.card-body {
    padding: 40px 10px 10px 20px;

}

.articles {
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}
.benefits,.interesting {
    margin: 30px;
}

.description {
    color: rgb(228, 197, 62);
    height: 300px;
    width: 400px;
    font-family: "Papyrus";
    text-align: center;
    padding: 30px 15px 15px 15px;
    font-size: 20px;
}

.personal-details {
    color: rgb(228, 197, 62);
    height: 300px;
    width: 400px;
    padding: 20px;
    font-family: "Papyrus";
    
}
.detailRow {
    font-size: 25px;
    text-align: center;
}

.social-media {
    color: rgb(228, 198, 62);
    height: 300px;
    width: 400px;
    text-align: center;
    font-family: "Papyrus";
    font-size: 20px;
}

.social-media-icon>img {
    height: 40px;
    width: 40px;
}


#map {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 60px;
}
.mapBox {
    display: flex;
    flex-direction: row-reverse;
    height: 250px;

}


@media only screen and (max-width: 1340px) {
    .benefits,.interesting {
        margin: 5px;
    }
    #map {
    margin: 10px;
    }  
      
} 

@media only screen and (max-width: 1133px) {
    .articles {
        flex-direction: column;
    }
   
}

@media only screen and (max-width: 660px) {
    .info {
        flex-direction: column;
    }
   
}
