body {
    background-image: url("3rd-party/image/Luna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.homePageBackground {
    height: 300px;
    display: flex;
    align-items: flex-end;
    font-family: "Papyrus";
    color: rgb(228, 197, 62);
}


a {
    cursor: url('3rd-party/image/cursor.cur'), auto;
}


.nav-tabs {
    --bs-nav-tabs-border-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-active-border-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-hover-border-color:  rgb(228, 197, 62);
    --bs-nav-tabs-link-active-bg: none;
    font-family: "Papyrus";
}

.nav {
    --bs-nav-link-hover-color: rgb(228, 197, 62);
    --bs-nav-link-color: rgb(228, 197, 62);
    --bs-nav-tabs-link-active-color: orange;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;

}


.table {
    --bs-table-color: rgb(228, 197, 62);
    --bs-table-hover-color: orange;
    --bs-table-border-color: rgb(228, 197, 62);
}

.card-header {
    font-size: 25px;
}


.articles {
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}
.benefits,.interesting {
    margin: 30px;
}
.card {
    font-family: "Papyrus";
    color: rgb(228, 197, 62);
    font-size: 20px;
    
}
.description {
    color: rgb(228, 197, 62);
    height: 300px;
    width: 400px;
    font-family: "Papyrus";
    text-align: center;
    padding: 40px 15px 15px 15px;
    font-size: 20px;
}

.personal-details {
    color: rgb(228, 197, 62);
    height: 300px;
    width: 400px;
    padding: 20px;
    font-family: "Papyrus";
    font-size: 20px;
}

.social-media {
    color: rgb(228, 197, 62);
    height: 300px;
    width: 400px;
    text-align: center;
    font-family: "Papyrus";
    font-size: 20px;
}

.social-media-icon>img {
    height: 40px;
    width: 40px;
}

.card-body {
    padding: 20px;
}
#map {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 60px;
}
.mapBox {
    display: flex;
    flex-direction: row-reverse;
    height: 250px;

}

/* .bg-transparent {
    background-color:  #00000075;
} */

@media only screen and (max-width: 1340px) {
    .benefits,.interesting {
        margin: 5px;
    }
    #map {
    margin: 10px;
    }  
      
} 

@media only screen and (max-width: 1133px) {
    .articles {
        flex-direction: column;
    }
   
}

@media only screen and (max-width: 660px) {
    .info {
        flex-direction: column;
    }
   
}
