.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.calendar>div {
    width: 600px;
    height: 600px;
    margin-top: 50px;
    margin-right: 30px;
    text-align: center;
    font-weight: bold;
}

#calendar>table {
    height: 500px;
    width: 550px;

}

th {
    font-size: 12px;
}
td {
    font-size: 30px;

}

.calendarButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-shadow: 2px 2px 5px rgb(112, 99, 27);
}
.btn-outline-warning {
    --bs-btn-hover-color: rgb(4, 107, 30);
    --bs-btn-active-color:  rgb(4, 107, 30);
    font-weight: bold;
}


