.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.card {
    font-family: "Papyrus";
    color: rgb(228, 197, 62);
    font-size: 20px;
}

.card-header {
    font-size: 25px;
}

.articles {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-shadow: 2px 2px 5px rgb(112, 99, 27);
}
.btn-outline-warning {
    --bs-btn-hover-color: rgb(4, 107, 30);
    --bs-btn-active-color:  rgb(4, 107, 30);
    font-weight: bold;
}


